.footer 
{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background:linear-gradient(#e23123, #CED02D);
    color: white;
    text-align: center;

    P 
    {
        padding-left: 30px;
        float: left;
    }

    ion-icon
    {
        float: right;
        padding-right: 10px;
        font-size: 30px;
    }
}

