ion-icon
{
    float: right;
    padding-right: 10px;
    font-size: 35px;
}

ion-title
{
    float: left;
    font-size: 18px;
    padding-top: 5px;
}

.table-header
{
    color: white;
    background-color: #e23123;
}

.table-body
{
    color: white;
    background-color: #d4d642;
}