<div class="card">

  <div class="card-header">
    Maintenance pizza
  </div>

  <div class="card-body">
    <button type="submit" class="btn" (click)="hide()">Ajouter une pizza</button>
  </div>

  <div class="card-body" style="display: none" id="addPizza">

    <form [formGroup]="addForm" (ngSubmit)="onSubmit()">

      <div class="form-group">

        <label>Nom :</label>

        <input type="text" formControlName="nom" placeholder="Nom" class="form-control" [ngClass]="{'is-invalid': submitted && f.nom.errors}">

        <div *ngIf="submitted && f.nom.errors" class="card-error">
          Le nom est requis
        </div>

      </div>

      <div class="form-group">

        <label>Photo :</label>

        <ion-button (click)="openCam()" color="primary">Prendre une photo</ion-button>

        <div *ngIf="addForm.controls.photo.value">
          <img src="{{addForm.controls.photo.value}}" />
        </div>

        <!-- <input type="file" class="inputfile" formControlName="photo" [ngClass]="{'is-invalid': submitted && f.photo.errors}"> -->

        <!-- <div *ngIf="submitted && f.photo.errors">
          La photo est requise
        </div> -->

      </div>

      <div class="form-group">

        <label>Ingrédient :</label>

        <table class="table">

          <thead>
            <tr>
              <th scope="col" class="table-header">
                <div class="text-left">
                  Liste des ingrédients
                </div>
                <div class="icon-right" *ngIf="!tbodyLifeIng; else hideListIngredient">
                  <a (click)="hidenIngredient()">
                    <ion-icon name="remove-outline"></ion-icon>
                  </a>
                </div>
                <ng-template #hideListIngredient>
                  <div class="icon-right">
                    <a (click)="hidenIngredient()">
                      <ion-icon name="add-outline"></ion-icon>
                    </a>
                  </div>
                </ng-template>
              </th>
            </tr>
          </thead>
    
          <tbody class="table-body" id="tbodyIn" style="display: none">
            <tr *ngFor="let i of ingredient">
              <td>
                <div class="text-left">
                  {{i.nom}}
                </div>
                <div class="icon-right">

                  <ion-checkbox color="danger" [checked]="addForm.controls.ingredients.value.indexOf(i.id) > -1" (ionChange)="toggleIn($event, i)"></ion-checkbox>

                </div>
              </td>
    
            </tr>
          </tbody>
    
        </table>

        <!-- <div *ngIf="submitted && f.ingredient.errors" class="card-error">
          Les ingredients sont requis
        </div> -->

      </div>
      
      <div class="form-group">

        <label>Prix :</label>

        <input type="number" formControlName="prix" placeholder="Prix" class="form-control" [ngClass]="{'is-invalid': submitted && f.prix.errors}">

        <div *ngIf="submitted && f.prix.errors" class="card-error">
          Le prix est requis
        </div>

      </div>

      <button type="submit" class="btn">Enregister</button>

    </form>

  </div>

  <div class="card-body">

    <table class="table">

      <thead>
        <tr>
          <th scope="col" class="table-header">
            <div class="text-left">
              Liste des pizza
            </div>
            <div class="icon-right" *ngIf="!tbodyLife; else hideList">
              <a (click)="hiden()">
                <ion-icon name="remove-outline"></ion-icon>
              </a>
            </div>
            <ng-template #hideList>
              <div class="icon-right">
                <a (click)="hiden()">
                  <ion-icon name="add-outline"></ion-icon>
                </a>
              </div>
            </ng-template>
          </th>
        </tr>
      </thead>

      <tbody class="table-body" id="tbody" style="display: none">
        <tr *ngFor="let p of pizza">
          <td>
            <div class="text-left">
              {{p.nom}}
            </div>
            <div class="icon-right">
              <a (click)="updatePizza(p)">
                <ion-icon name="create-outline"></ion-icon>
              </a>
              &nbsp;
              <a (click)="deletePizza(p)">
                <ion-icon name="trash-outline"></ion-icon>
              </a>
            </div>
          </td>

        </tr>
      </tbody>

    </table>

  </div>

</div>

<br><br>