<ion-header [translucent]="true">

  <ion-toolbar>

    <ion-buttons slot="start">
      <img src="../../../assets/jp-logo.png" style="width: 55px;">
    </ion-buttons>

    <ion-title>
      Jurassic Pizza
    </ion-title>

    <a class="home-icon" (click)="openCart()"><ion-icon name="cart-sharp"></ion-icon></a>
    <a class="home-icon"><ion-icon name="remove-sharp"></ion-icon></a>
    <a class="home-icon">
      <ion-badge id="cart-badge" color="success" *ngIf="(cartItemCount | async)?.valueOf() > 0">{{cartItemCount | async}}</ion-badge>
      <ion-icon name="build-sharp"></ion-icon>
    </a>
  
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true" *ngIf="pizza">

  <div class="card" *ngFor="let p of pizza">

    <div class="card-header text-center">
      {{p.nom}}
    </div>

    <div class="card-body">
      <img src="{{p.photo}}">
    </div>

    <div class="card-body">
      Prix : {{p.prix }} €
      <br>
      <button class="btn mt-2" routerLink="/pizza-detail">Détails</button>
      &nbsp;
      <button class="btn mt-2" (click)="addToCart(p)">Commander</button>
    </div>

  </div>

  <br><br>

  <app-footer></app-footer>

</ion-content>
