<ion-header [translucent]="true">

  <ion-toolbar>

    <ion-buttons slot="start">
      <img src="../../../assets/jp-logo.png" style="width: 55px;">
    </ion-buttons>

    <ion-title>Votre panier</ion-title>

    <a class="home-icon" (click)="close()">
      <ion-icon name="close"></ion-icon>
    </a>

  </ion-toolbar>

</ion-header>

<ion-content fullscreen>

  <div class="ion-padding" *ngIf="cart">
    
    <ion-list>

      <ion-item *ngFor="let p of cart" class="ion-text-wrap">

        <ion-grid>

          <ion-row class="ion-align-items-center cart-change">

            <ion-col size="2" class="decrease">

              <ion-button color="medium" fill="clear" (click)="decreaseCartItem(p)">

                <ion-icon name="remove-circle" slot="icon-only"></ion-icon>

              </ion-button>

            </ion-col>
  
            <ion-col size="1" class="amount">
              {{ p.amount }} 
            </ion-col>

            <ion-col size="2" >

              <ion-button color="medium" fill="clear" (click)="increaseCartItem(p)">

                <ion-icon name="add-circle" slot="icon-only"></ion-icon>

              </ion-button>

            </ion-col>
 
            <ion-col size="2" offset="5">

              <ion-button color="medium" fill="clear" (click)="removeCartItem(p)">

                <ion-icon name="close-circle" slot="icon-only"></ion-icon>

              </ion-button>

            </ion-col>

          </ion-row>


          <ion-row>

            <ion-col size="9">

              <b>{{ p.nom }}</b>

            </ion-col>

            <ion-col size="3" class="ion-text-end">

              {{ p.amount * p.prix }} €

            </ion-col>

          </ion-row>

        </ion-grid>

      </ion-item>

      <ion-item *ngIf="getTotal() != 0; else emptyCart">

        <ion-grid>

          <ion-row>

            <ion-col size="9">
              Total:
            </ion-col>

            <ion-col size="3" class="ion-text-end">
              {{ getTotal() }} €
            </ion-col>

          </ion-row>

        </ion-grid>

      </ion-item>

    </ion-list>
 
    <button class="btn" expand="full" (click)="checkout(cart)" *ngIf="getTotal() != 0">
      Passer commande
    </button>
    
    <ng-template #emptyCart>

      <div class="warning">

        <img src="../../../assets/dennis-nedry.png"
             alt="Shame">
        <p>Votre panier est vide.</p>

      </div>

    </ng-template>

  </div>
  
</ion-content>
