ion-icon
{
  float: right;
  padding-right: 10px;
  font-size: 30px;
}

ion-title
{
  float: left;
  font-size: 18px;
  padding-top: 5px;
}

.cart-change
{
  padding-right: 15px;
}

.amount
{
  padding-left: 13px;
}

.decrease
{
  padding-right: 2px;
}

.warning 
{
  background-color: #ff0;
  padding: .5rem;
  display: flex;
  flex-direction: column;
  height: 280px;
}

.warning img 
{
  width: 100%;
}

.warning p 
{
  font: small-caps bold 1.2rem sans-serif;
  text-align: center;
}

.btn
{
  color: white;
  font-weight: bold;
  background-color: #CED02D;
}
.btn:hover
{
  color: white;
  background-color: #e23123;
  border-color: #CED02D;
}