
<div class="card">

  <div class="card-header">
    Nouvel ingrédient
  </div>

  <div class="card-body">

    <form [formGroup]="addForm" (ngSubmit)="onSubmit()">

      <div class="form-group">

        <label>Nom :</label>

        <input type="text" formControlName="nom" placeholder="Nom" class="form-control" [ngClass]="{'is-invalid': submitted && f.nom.errors}">

        <div *ngIf="submitted && f.nom.errors">
          Le nom est requis
        </div>

      </div>

      <button type="submit" class="btn">Enregister</button>

    </form>
    
  </div>

</div>